.back {
    background-color: darkgreen;
}

body {
    color: lightgray;
}

.bg-image {
    background-image: url('ibm.jpeg');
    background-size: cover;
    min-height: 80vh;
}

.short {
    height: 300px;
}

.card-white1 {
  background: white;
  padding: 30px;
  border-radius: 4px;
  margin: 2rem;
  margin-top: 0;
  max-height: 80%;
}

.card-white {
  background: white;
  padding: 50px;
  border-radius: 4px;
  margin: 2rem;
  margin-top: 0;
  height: 426px;
  position: absolute;
}

.darker {
    color: black;
}

.green {
    color: rgb(16, 108, 124);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.formfont {
    font-family: 'Press Start 2P', cursive;
    color: darkgreen;
    font-size: 18px;
}

.stick {
    height: 8rem;
    width: .5rem;
    margin-top: 6rem;
}

.blurb {
    margin-top: 6rem;
}

.btn {
    color: darkgreen;
}

@media screen and (max-width: 991px) {
  div.hide {
    display: none;
  }
  div.big {
      display: none;
  }

  div h1.big {
      display: none;
  }
  div.short {
      height: 100%;
  }
  div h3.top {
      margin-top: 100px;
  }
  div.card-white {
  background: white;
  padding: 50px;
  border-radius: 4px;
  margin: 2rem;
  margin-top: 0;
  height: 438px;
  position: unset;
  }


  div.card-white svg {
      margin-bottom: 0rem;
  }
  p.p-2 {
      font-size: 11px;
  }
}

div.small {
    font-size: 1.5rem;
}
svg.iconify {
    margin-top: 0rem;
}
div.small p{
    font-size: 1rem;
}

div p.small {
    font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
    div.small {
        display: none;
    }

    div p.small {
        display: none;
    }
}

.iconify {
    color: black;
}
.iconify1 {
    color: darkgreen;
}

.top {
    margin-top: 100px;
}

.top2 {
    margin-top: 120px;
}

.eniac {
    max-width: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
}


