body {
    color: lightgray;
}

.back {
    background-color: darkgreen;
}

.bg-image {
    background-image: url('https://lh3.googleusercontent.com/-ngyzK70s1_4/WluWsSArohI/AAAAAAABIdY/B4kXepmqhf8vd3oet8PHGUoq7Dlh8FQ5wCHMYBhgL/w9999/ibm-705-console.jpg');
    background-size: cover;
    min-height: 80vh;
}


.card-white {
    background: white;
    padding-top: 1.75rem!important;
    padding: 3rem;
    padding-bottom: 2rem!important;
    border-radius: 4px;
    margin: 2rem;
    height: 426px;
    position: absolute;
}

.card-white1 {
    background: white;
    padding: 1.75rem;
    border-radius: 4px;
    margin: 2rem;
    margin-top: 0;
    max-height: 80%;
}

.card-white2 {
    background: whitesmoke;
    padding: 3rem;
    border-radius: 4px;
    margin: 2rem;
    margin-top: 2rem;
    height: 20rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

.card-white-big {
    background: whitesmoke;
    padding: 30px;
    border-radius: 4px;
    margin: 0rem;
    margin-bottom: 2rem;
    height: 24rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.darker {
    color: black;
}

.green {
    color: rgb(18, 168, 76);
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
}

.formfont {
    font-family: 'Press Start 2P', cursive;
    color: darkgreen;
    font-size: 18px;
}

.stick {
    width: .5rem;
    height: 100%;
    padding: 0;
}

.btn {
    color: darkgreen;
}


@media screen and (max-width: 767px) {
    div.hide {
        display: none;
    }
    div.big {
        display: none;
    }
    
    div h1.big {
        display: none;
    }
    div.short {
        height: 100%;
    }
    div h3.top {
        margin-top: 100px;
    }
    div.card-white {
        background: white;
        padding: 4rem;
        border-radius: 4px;
        margin: 2rem;
        padding-bottom: 0rem!important;
        height: 23rem;
        position: unset;
    }
    
    div.card-white-big p {
        font-size: 0.7rem;
    }
    
    div.card-white2 p {
        font-size: 0.7rem;
    }
    
    div.card-white svg {
        margin-bottom: 0rem;
    }
    p.p-2 {
        font-size: .5rem;
    }
}

@media screen and (min-width: 768px) {
    div.small {
        display: none;
    }

    div p.small {
        display: none;
    }
}

.short {
    height: 300px;
}

div.small {
    font-size: 1rem;
}

div.small p{
    font-size: 1rem;
}

div p.small {
    font-size: 1.5rem;
}

.top {
    margin-top: 100px;
}

.top2 {
    margin-top: 15rem;
}

svg.iconify {
    margin-top: 0rem;
    color: black;
}

div.card-white-big svg.iconify {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.bottomtext {
    display: flex;
    text-align: justify;
    align-content: center;
    margin: 0;
}
